---
import { Image } from "astro:assets";
import moticletas from "../img/motocicletas.webp";
import automovil from "../img/automovil.webp";
import furgon from "../img/furgon.webp";
import suvJeep from "../img/suv-jeep.webp";
import jeep from "../img/jeep.webp";
import camionetas from "../img/camionetas.webp";
---

<section id="precios">
  <div class="flex flex-wrap justify-center items-center text-white">
    <div class="grid grid-cols-1 md:grid-cols-2 w-full vignette">
      <Image
        src={moticletas}
        alt="motocicleta"
        class="w-full h-auto md:order-first order-last"
        data-aos="zoom-in"
      />
      <div
        class="flex flex-col justify-center items-center md:order-last order-first py-3"
        data-aos="zoom-in"
      >
        <p
          class="text-center font-extralight lg:text-6xl md:text-4xl text-4xl hover:scale-105 transition-transform duration-300"
        >
          Motocicletas Enduros
        </p>
        <p
          class="text-center lg:text-5xl md:text-3xl text-3xl hover:scale-105 transition-transform duration-300"
        >
          $13.000
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap justify-center items-center text-white">
    <div class="grid grid-cols-1 md:grid-cols-2 w-full">
      <Image
        src={automovil}
        alt="automovil"
        class="w-full h-auto md:order-last order-last"
        data-aos="zoom-in"
      />
      <div
        class="flex flex-col justify-center items-center py-3"
        data-aos="zoom-in"
      >
        <p
          class="text-center font-extralight lg:text-6xl md:text-4xl text-4xl hover:scale-105 transition-transform duration-300"
        >
          Automóviles
        </p>
        <p
          class="text-center lg:text-5xl md:text-3xl text-3xl hover:scale-105 transition-transform duration-300"
        >
          $18.000
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap justify-center items-center text-white">
    <div class="grid grid-cols-1 md:grid-cols-2 w-full">
      <Image
        src={furgon}
        alt="furgon"
        class="w-full h-auto md:order-first order-last"
        data-aos="zoom-in"
      />
      <div
        class="flex flex-col justify-center items-center py-3"
        data-aos="zoom-in"
      >
        <p
          class="text-center font-extralight lg:text-6xl md:text-4xl text-4xl hover:scale-105 transition-transform duration-300"
        >
          Furgón
        </p>
        <p
          class="text-center lg:text-5xl md:text-3xl text-3xl hover:scale-105 transition-transform duration-300"
        >
          $20.000
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap justify-center items-center text-white">
    <div class="grid grid-cols-1 md:grid-cols-2 w-full">
      <Image
        src={suvJeep}
        alt="suvjeep"
        class="w-full h-auto md:order-last order-last"
        data-aos="zoom-in"
      />
      <div
        class="flex flex-col justify-center items-center py-3"
        data-aos="zoom-in"
      >
        <p
          class="text-center font-extralight lg:text-6xl md:text-4xl text-4xl hover:scale-105 transition-transform duration-300"
        >
          Suv o Jeep
        </p>
        <p
          class="text-center lg:text-5xl md:text-3xl text-3xl hover:scale-105 transition-transform duration-300"
        >
          $25.000
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap justify-center items-center text-white">
    <div class="grid grid-cols-1 md:grid-cols-2 w-full">
      <Image
        src={jeep}
        alt="jeep"
        class="w-full h-auto md:order-first order-last"
        data-aos="zoom-in"
      />
      <div
        class="flex flex-col justify-center items-center py-3"
        data-aos="zoom-in"
      >
        <p
          class="text-center font-extralight lg:text-6xl md:text-4xl text-4xl hover:scale-105 transition-transform duration-300"
        >
          Camionetas
        </p>
        <p
          class="text-center lg:text-5xl md:text-3xl text-3xl hover:scale-105 transition-transform duration-300"
        >
          $28.000
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap justify-center items-center text-white">
    <div class="grid grid-cols-1 md:grid-cols-2 w-full">
      <Image
        src={camionetas}
        alt="camionetasxl"
        class="w-full h-auto md:order-last order-last"
        data-aos="zoom-in"
      />
      <div
        class="flex flex-col justify-center items-center py-3"
        data-aos="zoom-in"
      >
        <p
          class="text-center font-extralight lg:text-6xl md:text-4xl text-4xl hover:scale-105 transition-transform duration-300"
        >
          Camionetas XL
        </p>
        <p
          class="text-center lg:text-5xl md:text-3xl text-3xl hover:scale-105 transition-transform duration-300"
        >
          $33.000
        </p>
      </div>
    </div>
  </div>
</section>
